<!DOCTYPE html>
<html>
  <head>
    <title>PriceListCreator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
    <% if current_page?(price_list_add_warehouse_path) %>
      <%= javascript_include_tag 'price_lists' %>
    <% end %>

    <% if current_page?(price_list_index_path) %>
      <%= javascript_include_tag 'index' %>
    <% end %>
  </body>
</html>
